@charset "UTF-8";

/* reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg'); */
    background-color: rgb(8, 74, 94);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: 100% 100vh;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}

/* se a tela tiver pelo menos 500px vai carregar estes estilos */
@media (min-width: 500px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 750px) {
    body {
        font-size: 18px;
    }
}

header {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    /* justify-content: space-around; */
    margin-left: 10px;
}

.menu li {
    list-style: none;
}

.menu a {
    padding: 10px 20px;
    display: block;
    transition: background-color, color, 0.5s;
    color: rgb(8, 74, 94);
}

.menu a:hover {
    background-color: rgb(8, 74, 94);;
    color: whitesmoke;
}

a {
    color: rgb(8, 74, 94);
    text-decoration: none;
}

.titulo {
    /* transform: scale(0.1) translateY(50vh); */
    opacity: 0;
    animation: linear 3s animacao-titulo forwards;
    /* transform: transform, opacity, 2s; */
}

@keyframes animacao-titulo {
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.site-title, 
.site-subtitle {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 3em;
    font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle {
    font-size: 1.75em;
    font-family: 'Press Start 2P', cursive;
}

.site-subtitle {
    font-style: italic;
}

.sobre,
.contato,
.portfolio {
    padding: 2em;
    padding-top: 4em;
    min-height: 100vh;
}

@media (min-width: 900px) {
    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sobre h2,
.contato h2,
.portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
    color: whitesmoke;
    margin-bottom: 1.5em;
    text-align: justify;
}

.avatar {
    margin-left: 0em;
    margin-bottom: 2em;
    text-align: center;
}

.avatar img {
    height: 300px;
    width: 300px;
    font-size: 14px;
    border-radius: 100%;
}

@media (min-width: 750px) {
    .avatar img {
        float: right;
        margin-left: 2em;
        margin-bottom: 0em;
        border-radius: 0%;
        clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 15% 100%, 0% 50%, 15% 0%);
    }
}

.sobre p {
    color: white;
    margin-bottom: 1em;
    text-align: justify;
    text-indent: 2em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
    
}

@media (min-width: 580px) {
    .portfolio .grid {
        grid-template-columns: repeat(2, 240px);
        justify-content: center;
    }
}

@media (min-width: 900px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
        justify-content: center;
        align-content: center;
        height: calc(100vh -4em - 48px - 1.5em);
    }
}

.portfolio figure {
    text-align: center;
    color: whitesmoke;
    transition: transform 0.25s;
}

.portfolio figure:hover {
    transform: scale(1.2);
}

.img-portfolio {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
    transform: scale(1);
    transition: transform 0.25s;
}

.flip-card {
    perspective: 500px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-back {
    background-color: gray;
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;    
}

.contato .icons {
    display: flex;
    height: calc(100vh - 9em);
    align-items: center;
    justify-content: center;
}

.contato a {
    color: whitesmoke;
    font-size: 4em;
    text-decoration: none;
    transition: text-shadow 250ms;
    opacity: 0;
    padding: 0.3em;
    animation: 1s linear 2s animacao-contato forwards;
}

@keyframes animacao-contato {
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.contato a:hover {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.75);
}

.contato a:active {
    text-shadow: 0px 0px 15px black;
}

/*
@media (min-width: 1200px) {
    .img-portfolio {
        width: 10em;
        height: auto;
    }
}
*/
